@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #1e5ed63a;
}
::-webkit-scrollbar-thumb{
    background: #433faf;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}
::-webkit-scrollbar-thumb:hover{
        background: #120bc8;
        cursor:pointer;
}
@layer base{
    html{
        @apply font-poppins;
        @apply scroll-smooth;
        
    }
}

@layer components{
    .btn{
        @apply px-6 py-1 font-semibold rounded-2xl mt-4 shadow-md uppercase text-sm text-white cursor-pointer bg-blue-500 hover:bg-blue-900 outline outline-2  outline-offset-2 outline-blue-200 hover:outline-blue-500;
    }
}